*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.pt{
    padding-top: 10px;
}

.pl{
    padding-left: 15px;
}

/* body */
body{
    background-color: rgb(250, 243, 243);
}
/* /body */

/* header */
header{
    background-color: white;
}
.inlineblock{
    display: inline-block;
}
.titolo{
    line-height: 50px;
    height:50px;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
/* /header */

/* main */
main{
    background-color: white;
    margin: auto;
    width: 90%;
    margin-top: 50px;
    padding-top: 30px;
    padding-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
#addtask{
    margin-right: 10px;
    padding: 10px;
    background-color: rgb(78, 164, 235);
    color: white;
    border-radius: 5px;
}
#addsection{
    padding: 10px;
    color: grey;
    border: 1px solid grey;
    border-radius: 5px;
}
.bottoni{
    padding-bottom: 20px;
    border-bottom: 3px solid rgb(250, 243, 243);
}
.pt2{
    padding-top: 25px;
}
h3::before{
    content: "&#x25BE;";
}
/* /main */
