*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.pt{
    padding-top: 10px;
}

.pl{
    padding-left: 15px;
}

/* body */
body{
    background-color: rgb(250, 243, 243);
}
/* /body */

/* header */
header{
    background-color: white;
    height: 120px;
}
header>div{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.logo{
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
}
.logo_text{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 750;
}
/* /header */

/* main */

main{
    background-color: white;
    margin: auto;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

/* due bottoni in alto */
#addtask{
    margin-right: 10px;
    padding: 10px;
    background-color: rgb(78, 164, 235);
    color: white;
    border-radius: 5px;
}
#addsection{
    padding: 10px;
    color: grey;
    border: 1px solid grey;
    border-radius: 5px;
}
.bottoni{
    padding-bottom: 20px;
    border-bottom: 3px solid rgb(250, 243, 243);
}
/* /due bottoni in alto */

/* padding e freccetta in giù */
.pt2{
    padding-top: 25px;
}
h3::before{
    content: "\0025BE";
}
/* /padding e freccetta in giù */

/* check e cross cerchiate */
.cerchiov{
    border: 1px solid green;
    color: green;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
}
.cerchiov::before{
    content: "\002713";
}
.cerchiox{
    border: 1px solid red;
    color: red;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
}
.cerchiox::before{
    content: "\2717";
}
/* /check e cross cerchiate */

/* margin e padding dei div nel main */
main>div>div{
    margin-top: 20px;
    font-weight: 530;
}
main>div{
    padding-left: 40px;
}
/* /margin e padding dei div nel main */

/* bottoni vari colorati*/
.editorial{
    background-color: rgb(78, 164, 235);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    color: white;
}
.editorial::before{
    content: "Editorial";
    font-size: 12px;
}
.q1goals{
    background-color: rgb(133, 32, 158);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    color: white;
}
.q1goals::before{
    content: "Q1 Goals";
    font-size: 12px;
}
.recruiting{
    background-color: rgb(12, 247, 102);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    color: white;
}
.recruiting::before{
    content: "Recruiting";
    font-size: 12px;
}
.mobile{
    background-color: rgb(247, 165, 12);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    color: white;
}
.mobile::before{
    content: "Mobile";
    font-size: 12px;
}
.website{
    background-color: rgb(247, 12, 102);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    color: white;
}
.website::before{
    content: "Web Site";
    font-size: 12px;
}
.sales{
    background-color: rgb(118, 247, 12);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    color: white;
}
.sales::before{
    content: "Sales";
    font-size: 12px;
}
/* /bottoni vari colorati*/

/* /main */
